/** Favorite Cards  */

.card_container {
  flex: 0 0 100%;
  width: fit-content;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card_info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.card_image {
  width: 100%;
}

.card_price {
  font-size: var(--heading-3-desktop-size);
  font-weight: var(--heading-3-desktop-weight);
  line-height: var(--heading-3-desktop-line);
}

@media (max-width: 480px) {
  .card_container {
    max-width: 348px;
  }
}
