.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.loader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid var(--color-text-dark);
  border-top-color: var(--color-text-light);
  border-radius: 50%;
  animation: spin 0.75s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
