@import url('font.css');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background-body);
  color: var(--color-text-dark);
  font-size: var(--body-medium-size);
  font-weight: var(--body-medium-weight);
  line-height: var(--body-medium-line);
}

a,
button {
  font-size: var(--action-button-link-size);
  font-weight: var(--action-button-link-weight);
  line-height: var(--action-button-link-line);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-radius: 100px;
  cursor: pointer;
  min-width: 200px;
}

/** Reusable */

#main {
  padding: 20px 40px;
}

.title {
  font-size: var(--heading-1-desktop-size);
  font-weight: var(--heading-1-desktop-weight);
  line-height: var(--heading-1-desktop-line);
}

.accent {
  font-style: var(--heading-accent);
  color: var(--color-text-accent);
}

.button_primary {
  padding: 20px;
  border: none;
  color: var(--color-text-dark);
  background-color: var(--color-background-body);
}

.button_secondary {
  padding: 10px;
  border: 1px var(--color-board-dark) solid;
  color: var(--color-text-dark);
  background-color: transparent;
}

.link_primary {
  position: relative;
  color: var(--color-text-dark);
}

.link_secondary {
  position: relative;
  color: var(--color-text-light);
}

.link_primary::before,
.link_secondary::before {
  position: absolute;
  content: '';
  background-color: currentColor;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.link_primary:hover::before,
.link_secondary:hover::before {
  transform: scaleX(1);
}

/** Header  */

.header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burger {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100px;
}

.nav_list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 0 auto;
}

.nav_link {
  color: var(--color-text-dark);
}

.nav_menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

/** Main  */

.hero {
  padding: 100px;
  border-radius: 40px;
  background-image: url('/images/img-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text-light);
}

.hero_container {
  width: 100%;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.hero_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.hero_btn > img {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.hero_btn:hover > img {
  transform: scaleX(1);
}

.hero_btn > span {
  transform: translateX(14px);
  transition: transform 0.3s ease;
}

.hero_btn:hover > span {
  transform: translateX(0px);
}

/** Table */

/*! MAX WIDTH 768px  */

@media (max-width: 768px) {
  /** Reusable */

  /** Header  */

  .header {
    justify-content: space-between;
  }

  .nav {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #e1d4c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 100px;
    top: 0;
    right: -100%;
    transition: 0.3s;
    z-index: 1;
  }

  .open {
    right: 0;
  }

  .nav_list {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .burger_link {
    font-size: var(--link-burger-link-size);
    font-weight: var(---link-burger-link-weight);
    line-height: var(--link-burger-link-line);
  }

  .burger_link > img {
    width: 40px;
    height: 40px;
  }

  .burger {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px var(--color-border-dark) solid;
    border-radius: 100px;
    cursor: pointer;
    z-index: 2;
  }

  .active {
    gap: 0;
  }

  .line {
    width: 16px;
    height: 2px;
    border-radius: 1.5px;
    background-color: var(--color-border-dark);
    transition: transform 0.3s ease;
  }

  .line_1 {
    transform: translate(0px, 1px) rotate(45deg);
  }

  .line_2 {
    transform: translate(0px, -1px) rotate(-45deg);
  }

  /** Main  */

  .hero {
    padding: 100px 60px;
  }
}

/*! MAX WIDTH 380px  */

@media (max-width: 380px) {
  /** Reusable */

  #main {
    padding: 20px 16px;
  }

  .title {
    font-size: var(--heading-1-mobile-size);
    font-weight: var(--heading-1-mobile-weight);
    line-height: var(--heading-1-mobile-line);
  }

  /** Header  */

  /** Main  */

  .hero {
    padding: 60px 16px;
  }
}
